<header>
  <h1><a href="/">Sharply</a></h1>
  <nav>
    <ul>
      {% for item in collections.navigation %}
      <li>
        <a href="/postagile{{ item.url}}" {% if item.url == page.url %} data-current="current item"{% endif %}>{{ item.data.linkTitle }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
