<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/postagile/static/css/reset.css' | url }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ '/postagile/static/css/main.css' | url }}" media="screen" />
  </head>
  <body>
    {% include "_header.njk" %}
    <main>
      {% block content %} {{ content | safe }} {% endblock %}
    </main>

    {% include "_footer.njk" %}
  </body>
</html>